@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Karla", sans-serif;
    --font-title: "Source Code Pro", monospace;

    /*Base*/
    --color-bgPink: #fee2f1;
    --color-bgLightPink: #fbedf2;
    --color-bgDarkPink: #efa8ce;
    --color-bgGray: #726c6e;
    --color-bgLightGray: #dfdcd8;
    --color-bgYellow: #fefbc6;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-body);
    color: white;
    font-size: 14px;
}

button {
    cursor: pointer;
}
