@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Playwrite+NO:wght@100..400&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Karla", sans-serif;
    --font-title: "Playwrite NO", cursive;

    /*Base*/
    --color-bgPink: #fee2f1;
    --color-bgLightPink: #fbedf2;
    --color-bgDarkPink: #efa8ce;
    --color-bgGray: #726c6e;
    --color-bgLightGray: #dfdcd8;
    --color-bgDarkGray: #443d3f;
    --color-bgYellow: #fefbc6;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--color-bgDarkGray);
    font-size: 14px;
}

button {
    cursor: pointer;
}
